h1{
	background:#CD5C5C;
    margin:20px 86px;
	padding:20px 0px; 
	font-size:45px; 
}
* {
	background-color:; 
}
h2,h4{
	background:#FFA07A;
	margin:0px 0px;
	padding:1px 6px; 
	font-size:35px; 
	
}

h3{
	background:#FFA07A;
	margin:0px -15px;
	padding:1px 6px; 
	font-size:35px;
}

.row{
	background:#e6e6e6;
	margin: 0px 0px


}
.btn{
	margin:10px 0px;
}

