.vent{
	width:350px;
	padding: 0px 13px;

}
.testo{
	padding: 0px 21px;

}
.precio {
	font-size:25px;
    padding:0px 0px;
	background-color: white;
}
.descr {
	font:;
	background-color: white;
}
#terminamo{
	margin: 10px 32px;
}
h1{
	background-color: #CD5C5C;	
	margin:10px 16px; 
	padding: 6px 0px;
	border-radius: 7px;
}

*{
	background-color: #FFA07A;
}
.recuadro {
	background-color:white;
	margin:0px 18px; 
	padding:20px 20px; 
	border-radius: 5px;
}
.comprar {
	padding: 10px 10px;
	background-color:white;
}
.poro {
	background-color: white;
}
select {
	background-color:white;
}
input {
	background-color:white;
}